
footer{
    display: flex;
    padding: 52px clamp(20px, 5vw, 81px);
    gap: clamp(20px, 15vw, 330px);
    color:#ffffff;
    background-color: #96a78d;
    flex-wrap: wrap;
}

.explore ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.explore a{
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(8px, 5vw, 15px) ;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact a{
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(8px, 5vw, 15px) ;
}

.contact h1, .explore h1{
    margin-bottom: 0px;
    font-size: clamp(25px, 5vw, 40px) ;
}

.logo{
    display: flex;
    color: #ffffff;
    gap: 10px;
}

.logo img{
    width: 24px;
    height: auto;
}
