*, html{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border: 3px solid #000000;
    margin: 0px 81px 0px 81px;
    padding: 15px 25px;
    background-color: #81906780;
    border-radius: 50px;
    z-index: 100;
}

main{
    padding: 0px 81px 0 81px;
}

header a{
    font-weight: 550;
    text-decoration: none;
    color: #000000;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}

body{
    padding-top: 40px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #49574acc 350px, #fffef1 350px);
}

body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url('../img/bacground-bunga.png');
    background-size: 1000px;
    background-repeat: repeat;
    z-index: 0;
}

.hero{
    min-height: 100vh;
    min-height: 100dvh;
}

.pulau{
    display: flex;
}

.pulau img{
    width: 1100px;
    height: auto;
}

.text-pulau{
    margin-left: -290px;
    margin-top: 380px;
    color: #123714 ;
}

.text-pulau h1{
    font-size: 45px;
    width: 500px ;
    text-shadow:6.52px 3.26px 0px #00000040;
}

.text-pulau p{
    font-size: 20px;
}


.artikel{
    min-height: 100vh;
    min-height: 100dvh;
    margin-top: -60px;
    font-size: 30px;
}

.artikel h1{
    text-align: center;
}

