*, html{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 51px 81px 55px 81px;
    border: 3px solid #000000;
    padding: 25px 35px;
    background-color: #81906780;
    border-radius: 50px;
}

header a{
    font-weight: 550;
    text-decoration: none;
    color: #000000;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}

body{
    background: linear-gradient(to bottom, #49574acc 350px, #fffef1 350px);
}

body::before{
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/bacground-bunga.png');
    background-size: 1000px ;
    z-index: 0;
}

.hero{
    height: 100vh;
    height: 100dvh;
}

