*, html{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border: 3px solid #000000;
    margin: 0px 81px 0px 81px;
    padding: 15px 25px;
    background-color: #81906780;
    border-radius: 50px;
    z-index: 10;
    position: relative;
}

main{
    padding: 0px 81px 0 81px;
    position: relative;
    z-index: 10;
}

header a{
    font-weight: 550;
    text-decoration: none;
    color: #000000;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}

.body{
    padding-top: 40px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #49574acc 350px, #fffef1 350px);
}

.body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url('../img/backgrounf-bunga.png');
    opacity: 0.1;
    background-size: 1000px;
    background-repeat: repeat;
    z-index: 0;
}

.hero{
    min-height: 100vh;
    min-height: 100dvh;
    z-index: 10;
    position: relative;
}

.pulau{
    display: flex;
    z-index: 10;
    position: relative;
}

.pulau img{
    width: 1100px;
    height: auto;
}

.text-pulau{
    margin-left: -290px;
    margin-top: 380px;
    color: #123714 ;
}

.text-pulau h1{
    font-size: 45px;
    width: 500px ;
    text-shadow:6.52px 3.26px 0px #00000040;
}

.text-pulau p{
    font-size: 20px;
}


.artikel{
    min-height: 100vh;
    min-height: 100dvh;
    margin-top: -60px;
    position: relative;
    font-size: 30px;
    z-index: 10;
    position: relative;
}

.artikel h1{
    text-align: center;
    
}

.about{
    text-align: center;
    min-height: 100vh ;
    min-height: 100dvh;
    z-index: 10;
    font-size: 30px;
    position: relative;
}

.kontak-all{
    margin-top: 77px;
    gap: 78px;
    display: flex;
    justify-content: center;
}

.kontak-all {
    font-size: 15px;
}

.kontak-all p{
    font-size: 25px;
}

.card-tim img{
    aspect-ratio: 1;
    background-position: center;
    object-fit: cover;
    object-position: center top;
    border-radius: 12px;
    box-shadow: 1px 2px #00000050;
    max-width:298px;
}

.card-tim{
    margin-bottom: 84px;
    max-width: 361px;
    padding: 24px 30px 70px 30px;
    border-radius: 23.41px;
    border: 1px solid #0A400C;
    background: linear-gradient(to bottom, #D9E9CF 80%, #96A18F 100%);
}

