*, html{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border: 3px solid #000000;
    margin: 0px 81px 0px 81px;
    padding: 15px 25px;
    background-color: #81906780;
    border-radius: 50px;
    z-index: 10;
    position: relative;
}
header a{
    font-weight: 550;
    text-decoration: none;
    color: #000000;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}

.kategori{
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    z-index: 10;
}

.body{
    position: relative;
    padding-top: 40px;
}

.body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url('../img/backgrounf-bunga.png');
    opacity: 0.1;
    background-size: 1000px;
    background-repeat: repeat;
    z-index: 0;
}

.kategori h1{
    text-align: center;
    margin: 25px 0px;
    font-size: 50px;

}
