*, html{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.hamburger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
    transition: 0.3s;
}

header{
    font-size: clamp(14px, 2vw, 20px);
    display: flex;
    justify-content: space-between;
    border: 3px solid #000000;
    margin: 0 clamp(20px, 5vw, 81px);
    padding: 15px clamp(15px, 3vw, 25px);
    background-color: #81906780;
    border-radius: 50px;        
    z-index: 10;
    position: relative;
}

main{
    padding: 0 clamp(20px, 5vw, 81px);
    position: relative;
    z-index: 10;
}

header a{
    font-weight: 550;
    text-decoration: none;
    color: #000000;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: clamp(15px, 4vw, 50px);
    list-style-type: none;
}

.kategori{
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    z-index: 10;
}

.body{
    margin-top: clamp(20px,15vw,40px);
}

.page-title {
    text-align: center;
    font-size: clamp(25px,5vw,48px);
    margin: 40px 0;
    color: #000;
}

.body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url('../img/backgrounf-bunga.png');
    opacity: 0.1;
    background-size: 1000px;
    background-repeat: repeat;
    z-index: 0;
}

.kategori h1{
    text-align: center;
    margin: 25px 0px;
    font-size: clamp(25px, 5vw, 50px);

}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    padding: 0 20px;
}
.search-box {
    background-color: #EEEAD3; 
    border-radius: 50px; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 250px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
}

.cat-btn {
    background-color: #B4C0A8;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: 0.3s;
}

.cat-btn:hover {
    background-color: #8F9E80; 
}

.artikel-grid {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(48px, 15vw, 78px);
    justify-content: center;
    margin-bottom: 40px;
}

.card {
    max-width: 361px;
    padding: 24px 30px;
    border-radius: 23.41px;
    border: 1px solid #0A400C;
    background: linear-gradient(to bottom, #D9E9CF 80%, #96A18F 100%);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
}

.card img {
    aspect-ratio: 1;
    background-position: center;
    object-fit: cover;
    object-position: center top;
    border-radius: 12px;
    box-shadow: 1px 2px #00000050;
    max-width:298px;
}

.card-content h3 {
    font-size: clamp(10px, 3vw, 18px);
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.card-content p {
    font-size: clamp(9px, 15vw, 14px);
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
    flex-grow: 1; 
}

.btn-detail {
    display: inline-block;
    background-color: #FFF; 
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #5A6C50;
    width: fit-content;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1); 
}

.detail:hover {
    background-color: #f0f0f0;
}
@media screen and (max-width: 425px) {
    
    .hamburger-menu {
        display: flex; 
        z-index: 100;
    }


    nav {
        justify-content: flex-end;
        gap: 15px; 
    }

    nav ul.nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0; 
        width: 100%; 
        background-color: #96a78d;
        padding: 20px 0;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        z-index: 99;
    }

    nav ul.nav-links li {
        text-align: center;
        margin: 10px 0;
    }

   
    nav ul.nav-links.active {
        display: flex;
    }
}