*,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header h1{
    font-size: 60px;
    color: #F1F3E0;
    text-shadow: 8px 4px 4px rgb(0, 0, 0, 0.25);
}

header p{
    color: #ffffff;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #c1c1c1b3;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 30px 50px;
    width: 407px;
    height: 414px;
}

form a{
    align-self: flex-start;
}

form label, form input,form a{
    margin-bottom: 10px;
}

form h1{
    color: #fefae0;
}

form input{
    width: 100%;
    min-height: 50px;
    border-radius: 25px ;
    border: 0px;
    padding-left: 15px;
    background-color: #fffdfd80;
    border: 1px solid #000000;
}

#submit{
    background-color: #fefae0fa;
    margin: 30px 0px;
}

form label{
    align-self: flex-start;
}

form input:focus{
    outline: none;
}

body{
    background-image: url("../img/login.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    height: 100dvh;
}