*,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: clamp(9px,15vw,20px);
}

header h1{
    margin-top: clamp(9px,15vw,15px);
    font-size: clamp(45px,5vw,60px);
    color: #F1F3E0;
    text-shadow: 8px 4px 4px rgb(0, 0, 0, 0.25);
}

header p{
    color: #ffffff;
    font-size: clamp(5px,3vw,20px);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #c1c1c1b3;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(10px,5vw,30px) clamp(15px,5vw,50px);
    max-width: 100%;
    width: 450px;
    height: fit-content;
    height: 480px;
    margin-bottom: 20px;
}

.i{
    width: 100%;
    display: flex;
    justify-content: right;
}

form a{
    align-self: flex-start;
}

form label, form input,form a{
    margin-bottom: clamp(5px,15vw,10px);
    font-size: clamp(10px,5vw,15px);
}

form h1{
    color: #fefae0;
    font-size: clamp(30px,5vw,40px);
    margin-bottom: 10px;
}

form input{
    width: 100%;
    min-height: 50px;
    border-radius: 25px ;
    border: 0px;
    padding-left: clamp(9px,5vw, 15px);
    padding-right: clamp(9px,5vw, 15px);
    background-color: #fffdfd80;
    border: 1px solid #000000;
}

.forgot{
    color: #000000;
    font-size: 13px;
    margin-top: -8px;
    text-decoration: none;
}

a{
    color: #FEFAE0;
    text-decoration: none;
}

#login{
    background-color: #fefae0fa;
    margin: clamp(10px,15vw,35px) 0px;
    font-size: 15px;
    font-weight: 550;
}

form label{
    align-self: flex-start;
}

form input:focus{
    outline: none;
}

body{
    background-image: url("../img/login.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: clamp(15px, 3vw, 20px);
}