*,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

form{
    background-color: #c1c1c1b3;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(25px, 15vw, 30px) clamp(20px, 15vw, 30px);
    width: clamp(300px, 90%, 520px);
    height: auto;
}

.deskripsi h1{
    font-size: clamp(20px, 8vw, 88px);
    max-width: 750px;
    line-height: 1.0;
    color: #fefae0fa;
}

a{
    color: #FEFAE0;
    text-decoration: none;
}

.deskripsi p{
    max-width: 600px;
    font-size: clamp(18px, 5px, 35px);
    color: #F8F9FA;
    font-weight: 500;
}

form a{
    align-self: flex-start;
}

form label, form input,form a{
    margin-bottom: 10px;
}

form h1{
    color: #49574A;
    font-size: 40px;
    margin-bottom: 10px;
}

form input{
    width: 100%;
    min-height: 50px;
    border-radius: 25px ;
    border: 0px;
    padding-left: 15px;
    background-color: #fffdfd80;
    border: 1px solid #000000;
}

#submit{
    background-color: #fefae0fa;
    margin: 25px 0px;
    font-size: clamp(10px,3vw,15px);
    font-weight: 550;
}

form label{
    align-self: flex-start;
}

form input:focus{
    outline: none;
}

body{
    background-image: url("../img/login.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(20px,5vw,40px) clamp(20px,5vw,48px);
    background-attachment: fixed;
}

@media screen and (max-width:768px) {

    .deskripsi{
        text-align: center;
    }

    body{
        flex-direction: column;
        gap: clamp(20px,15px,30px);
    }
}